<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header"><h5>List your Property</h5></div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(Form)" #Form="ngForm">
          <div class="card-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info">
                <div class="form-group col-12">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                      >Sell</label
                    >
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                      >Rent</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Bedrooms</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      *ngFor="let bedroom of [1, 2, 3, 4, 5]"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="bedroom"
                      tabindex="0"
                      role="button"
                      name="Bedroom"
                      >{{ bedroom }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Bathrooms</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      *ngFor="let bathroom of [1, 2, 3, 4, 5]"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="bathroom"
                      tabindex="0"
                      role="button"
                      name="Bathroom"
                      >{{ bathroom }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Parking Spaces</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      *ngFor="let parking of [0, 1, 2, 3, 4]"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="parking"
                      tabindex="0"
                      role="button"
                      name="Parking"
                      >{{ parking }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    name="propType"
                    [(ngModel)]="propertyView.Type"
                  >
                    <label
                      *ngFor="let ptype of propertyTypes"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="ptype"
                      tabindex="0"
                      role="button"
                      name="PropertyType"
                      >{{ ptype }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Furnish Type</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      *ngFor="let ftype of furnishTypes"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="ftype"
                      tabindex="0"
                      role="button"
                      name="FurnishType"
                      >{{ ftype }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Name</label>
                  <input
                    type="text"
                    class="form-control"
                    #propName="ngModel"
                    ngModel
                    name="Name"
                    required
                    minlength="5"
                    [(ngModel)]="propertyView.Name"
                  />
                  <span
                    *ngIf="!propName.valid && propName.touched"
                    class="error-block"
                  >
                    <span *ngIf="propName.errors.required"
                      >Please enter name</span
                    >
                    <span *ngIf="propName.errors.minlength"
                      >Name must be at least 5 characters</span
                    >
                  </span>
                </div>

                <div class="form-group col-12">
                  <label>City</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-right"
                    (click)="selectTab(1)"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Price and Area">
                <div class="form-group col-12">
                  <label>Price</label>
                  <input
                    type="number"
                    class="form-control"
                    name="price"
                    [(ngModel)]="propertyView.Price"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Building Area (&#13217;)</label>
                  <input type="number" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Land Area (&#13217;)</label>
                  <input type="number" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-left"
                    (click)="selectTab(0)"
                  >
                    Back
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary float-right"
                    (click)="selectTab(2)"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Address">
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-left"
                    (click)="selectTab(1)"
                  >
                    Back
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary float-right"
                    (click)="selectTab(3)"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Other Details">
                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="RTM"
                      >Yes</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="RTM"
                      >No</label
                    >
                  </div>
                </div>

                <div class="form-group col-5">
                  <label>Possession/Available From</label>
                  <input
                    type="text"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{ containerClass: 'theme-dark-blue' }"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Age of Property</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="Gated"
                      >Yes</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="Gated"
                      >No</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    rows="=5"
                  ></textarea>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-left"
                    (click)="selectTab(2)"
                  >
                    Back
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary float-right"
                    (click)="selectTab(4)"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button type="button" class="mt-5">Upload</button>
                  </div>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-left"
                    (click)="selectTab(3)"
                  >
                    Back
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary float-right"
                    (click)="selectTab(2)"
                  >
                    Submit
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow-lg p-0 bg-white">
      <div class="card-header">
        <h5>Your Property Preview</h5>
      </div>
      <div class="card-body">
        <app-property-card
          [property]="propertyView"
          [hideIcons]="true"
        ></app-property-card>
      </div>
    </div>
  </div>
</div>
