<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header"><h5>List your Property</h5></div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="card-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info" formGroupName="BasicInfo">
                <div class="form-group col-12">
                  <p>I want to<span class="red-star">*</span></p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="sellrent"
                  >
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                      >Sell</label
                    >
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                      >Rent</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Bedrooms<span class="red-star">*</span></p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="bedroom"
                    [(ngModel)]="propertyView.Bedroom"
                  >
                    <label
                      *ngFor="let bedroom of [1, 2, 3, 4, 5]"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="bedroom"
                      tabindex="0"
                      role="button"
                      name="Bedroom"
                      >{{ bedroom }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Bathrooms<span class="red-star">*</span></p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="bathroom"
                    [(ngModel)]="propertyView.Bathroom"
                  >
                    <label
                      *ngFor="let bathroom of [1, 2, 3, 4, 5]"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="bathroom"
                      tabindex="0"
                      role="button"
                      name="Bathroom"
                      >{{ bathroom }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Parking Spaces<span class="red-star">*</span></p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="parking"
                    [(ngModel)]="propertyView.Parking"
                  >
                    <label
                      *ngFor="let parking of [0, 1, 2, 3, 4]"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="parking"
                      tabindex="0"
                      role="button"
                      name="Parking"
                      >{{ parking }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Property Type<span class="red-star">*</span></p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="propType"
                    [(ngModel)]="propertyView.PType"
                  >
                    <label
                      *ngFor="let ptype of propertyTypes"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="ptype"
                      tabindex="0"
                      role="button"
                      name="PropertyType"
                      >{{ ptype }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Furnish Type</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="furnishType"
                    [(ngModel)]="propertyView.FType"
                  >
                    <label
                      *ngFor="let ftype of furnishTypes"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="ftype"
                      tabindex="0"
                      role="button"
                      name="FurnishType"
                      >{{ ftype }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-right"
                    (click)="selectTab(1)"
                    [disabled]="!BasicInfo.valid"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label>Address<span class="red-star">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="address"
                    [(ngModel)]="propertyView.Address"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Suburb<span class="red-star">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="suburb"
                    [(ngModel)]="propertyView.Suburb"
                  />
                </div>

                <div class="form-group col-12">
                  <label>City<span class="red-star">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="city"
                    [(ngModel)]="propertyView.City"
                  />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-left"
                    (click)="selectTab(0)"
                  >
                    Back
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary float-right"
                    (click)="selectTab(2)"
                    [disabled]="!AddressInfo.valid"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Price and Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value == 1"
                    >Price<span class="red-star">*</span></label
                  >
                  <label *ngIf="SellRent.value == 2"
                    >Rent (per week)<span class="red-star">*</span></label
                  >
                  <input
                    type="number"
                    class="form-control"
                    formControlName="price"
                    [(ngModel)]="propertyView.Price"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Building Area (&#13217;)</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="buildArea"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Land Area (&#13217;)</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="landArea"
                  />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-left"
                    (click)="selectTab(1)"
                  >
                    Back
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary float-right"
                    (click)="selectTab(3)"
                    [disabled]="!PriceInfo.valid"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group row col-12">
                  <div class="col-6">
                    <label>Available From</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="availableFrom"
                      bsDatepicker
                      [bsConfig]="{ containerClass: 'theme-dark-blue' }"
                    />
                  </div>

                  <div class="col-6">
                    <label>Age of Property</label>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="age"
                    />
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    formControlName="description"
                    rows="10"
                  ></textarea>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-left"
                    (click)="selectTab(2)"
                  >
                    Back
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary float-right"
                    (click)="selectTab(4)"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button type="button" class="mt-5">Upload</button>
                  </div>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-left"
                    (click)="selectTab(3)"
                  >
                    Back
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary float-right"
                    (click)="selectTab(2)"
                  >
                    Submit
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow-lg p-0 bg-white">
      <div class="card-header">
        <h5>Your Property Preview</h5>
      </div>
      <div class="card-body">
        <app-property-card
          [property]="propertyView"
          [hideIcons]="true"
        ></app-property-card>
      </div>
    </div>
  </div>
</div>
