<div class="card">
  <div class="card-img-wrapper">
    <img
      *ngIf="property.Image"
      class="card-img-top"
      src="assets/image/{{ property.Image }}"
    />
    <img
      *ngIf="!property.Image"
      class="card-img-top"
      src="assets/image/house_default.png"
    />
    <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button
          class="btn btn-primary btn-sm"
          routerLink="/property-detail/{{ property.ID }}"
        >
          <i class="far fa-edit"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary btn-sm">
          <i class="far fa-address-card"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h4 class="mb-0">{{ property.Address }}</h4>
    <span *ngIf="property.Suburb"
      >{{ property.Suburb }}, {{ property.City }}</span
    ><br />

    <div class="mt-1 mb-1">
      <i class="fas fa-bed"></i> {{ property.Bedroom }} |
      <i class="fas fa-bath"></i> {{ property.Bathroom }} |
      <i class="fas fa-parking"></i> {{ property.Parking }}
    </div>

    <!-- <h6 class="mt-1">
      {{ property.PType }} | {{ property.FType }}
      <span *ngIf="property.FType !== 'Unfurnished'">Furnished</span>
    </h6> -->

    <h6 class="mb-0">Price: ${{ property.Price }}</h6>
  </div>
</div>
