<div class="card">
  <div class="card-img-wrapper">
    <img
      *ngIf="property.Image"
      class="card-img-top"
      src="assets/image/{{ property.Image }}"
    />
    <img
      *ngIf="!property.Image"
      class="card-img-top"
      src="assets/image/house_default.png"
    />
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button
          class="btn btn-primary btn-sm"
          routerLink="/property-detail/{{ property.ID }}"
        >
          <i class="far fa-edit"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary btn-sm">
          <i class="far fa-address-card"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h4>{{ property.Name }}</h4>
    <h5>{{ property.Type }}</h5>
    <h4>{{ property.Price }}</h4>
  </div>
</div>
