<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Sign Up</div>
      <div class="card-body">
        <form>
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" />
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" />
          </div>

          <div class="form-group col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" />
          </div>

          <div class="form-group col-12">
            <label for="cPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" />
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="tel" class="form-control" />
          </div>

          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary mr-3">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
